extends ./layouts/adminLayout.pug

block content 
    .container.my-5
        .d-flex.justify-content-between.gap-3.align-items-center.flex-wrap.mt-5.mb-4
            a(href=`/suppliers/${supplier._id}`)
                button.btn.btn-primary.btn-icon
                    ion-icon(name="arrow-back")
                    span.ms-2 Back to Supplier

        h1.my-0 Edit Supplier
        form(action=`/suppliers/edit-supplier/${supplier._id}`, method="post") 
            .d-flex.justify-content-between.gap-3.align-items-center.mt-3
                .flex-fill
                    label.form-label(for='exampleText2') Name
                    input#exampleText2.form-control(type='text' name="name" autocomplete="off" value=supplier.name required)
                .flex-fill
                    label.form-label(for='exampleText3') Contact
                    input#exampleText3.form-control(type='text' name="contact" autocomplete="off" value=supplier.contact required)
                .flex-fill
                    label.form-label(for='exampleText3') Email
                    input#exampleText3.form-control(type='email' name="email" autocomplete="off" value=supplier.email)
            .d-flex.justify-content-between.gap-3.align-items-center.mt-3
                .flex-fill
                    label.form-label(for='exampleText2') Address
                    input#exampleText2.form-control(type='text' name="address" autocomplete="off" value=supplier.address required)
                .flex-fill
                    label.form-label(for='exampleText2') TSR
                    select#exampleText2.form-select(name='tsr' required)
                        option(disabled) Select TSR
                        option(value='1' selected=(supplier.tsr == 1)) 1
                        option(value='2' selected=(supplier.tsr == 2)) 2
                        option(value='3' selected=(supplier.tsr == 3)) 3
                        option(value='4' selected=(supplier.tsr == 4)) 4
                        option(value='5' selected=(supplier.tsr == 5)) 5
            .d-flex.justify-content-between.gap-3.align-items-center.mt-3
                .flex-fill
                    label.form-label(for='exampleText3') Note
                    textarea#exampleText3.form-control(type='text' name="note" rows="3" value=supplier.note)
            
            .d-grid.mt-5
                button.btn.btn-primary(type="submit") Save Changes
